html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  position: relative;
  /* min-width:700px; */
}

#global {padding: 50px; height:100%;color: #4d4b4b; background-color: #ffffff;}
#continent {padding:50px;height:100%;color: #4d4b4b; background-color: #ffffff;}
#gender {padding:50px;height:80%;color: #4d4b4b; background-color: #ffffff;}
#age {padding:50px;height:80%;color: #4d4b4b; background-color: #ffffff;}
#article {padding: 10px;}
#method {padding:50px;height:80%;color: #4d4b4b; background-color: #ffffff;}

.parallax {
  opacity: 0.7;
  
  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron { /*. indicates a class selector; # indicates a id selector*/
  display: flex;
  align-items: center;
  opacity: 0.9;
  background-image: url('../pic/help.jpg');
  background-size: cover;
  color: #eeeeee;
  height: 530px;
  text-shadow: 0.45px 0.45px 0.45px #000000;
}

.jumbotron h2 {
  font-size: 43px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px; /*top ; right&left ; bottom*/
  color: #fff;
}

div .row img {
  margin: 5px 50px 40px; /*top ; right&left ; bottom*/
  width: 70%;
  /* position: relative;
  z-index: -1; */
}

.btn.btn-primary {
  border-radius: 20px;
  border: 0px;
  color: #706f6f;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #706f6f;
  opacity: 0.6;
}

.btn-secondary {
  background-color: #706f6f;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 10px 0 20px;
}

footer .col-sm-8 { /*small devices - screen width equal to or greater than 576px*/
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}





/* pie not finished? */
.title-holder {
text-align: center;
}
.title {
font-family: 'Lato', sans-serif;
}
.subtitle {
font-size: 20px;
}
.font {
font-size: 18px;
}

/* legend */
.pie_legend {
  font-size: 14px;
}
rect {
  cursor: pointer; 
  stroke-width: 2;
}
rect.disabled {
  fill: transparent !important;
}

/* chart */
#chart {
  height: 800px;
  margin: 0 auto;
  position: relative;
  display: block;
  width: 1200px;
}

/* tooltip */
.pie_tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 18px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 80px;
  z-index: 10;
}
